In [17]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
loldata= pd.read_csv('games.csv')
loldata

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [7]:
loldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 61 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameId              51490 non-null  int64
 1   creationTime        51490 non-null  int64
 2   gameDuration        51490 non-null  int64
 3   seasonId            51490 non-null  int64
 4   winner              51490 non-null  int64
 5   firstBlood          51490 non-null  int64
 6   firstTower          51490 non-null  int64
 7   firstInhibitor      51490 non-null  int64
 8   firstBaron          51490 non-null  int64
 9   firstDragon         51490 non-null  int64
 10  firstRiftHerald     51490 non-null  int64
 11  t1_champ1id         51490 non-null  int64
 12  t1_champ1_sum1      51490 non-null  int64
 13  t1_champ1_sum2      51490 non-null  int64
 14  t1_champ2id         51490 non-null  int64
 15  t1_champ2_sum1      51490 non-null  int64
 16  t1_champ2_sum2      51490 non-null  int64
 17  t1_champ3id         51490 non-null  int64
 18  t1_champ3_sum1      51490 non-null  int64
 19  t1_champ3_sum2      51490 non-null  int64
 20  t1_champ4id         51490 non-null  int64
 21  t1_champ4_sum1      51490 non-null  int64
 22  t1_champ4_sum2      51490 non-null  int64
 23  t1_champ5id         51490 non-null  int64
 24  t1_champ5_sum1      51490 non-null  int64
 25  t1_champ5_sum2      51490 non-null  int64
 26  t1_towerKills       51490 non-null  int64
 27  t1_inhibitorKills   51490 non-null  int64
 28  t1_baronKills       51490 non-null  int64
 29  t1_dragonKills      51490 non-null  int64
 30  t1_riftHeraldKills  51490 non-null  int64
 31  t1_ban1             51490 non-null  int64
 32  t1_ban2             51490 non-null  int64
 33  t1_ban3             51490 non-null  int64
 34  t1_ban4             51490 non-null  int64
 35  t1_ban5             51490 non-null  int64
 36  t2_champ1id         51490 non-null  int64
 37  t2_champ1_sum1      51490 non-null  int64
 38  t2_champ1_sum2      51490 non-null  int64
 39  t2_champ2id         51490 non-null  int64
 40  t2_champ2_sum1      51490 non-null  int64
 41  t2_champ2_sum2      51490 non-null  int64
 42  t2_champ3id         51490 non-null  int64
 43  t2_champ3_sum1      51490 non-null  int64
 44  t2_champ3_sum2      51490 non-null  int64
 45  t2_champ4id         51490 non-null  int64
 46  t2_champ4_sum1      51490 non-null  int64
 47  t2_champ4_sum2      51490 non-null  int64
 48  t2_champ5id         51490 non-null  int64
 49  t2_champ5_sum1      51490 non-null  int64
 50  t2_champ5_sum2      51490 non-null  int64
 51  t2_towerKills       51490 non-null  int64
 52  t2_inhibitorKills   51490 non-null  int64
 53  t2_baronKills       51490 non-null  int64
 54  t2_dragonKills      51490 non-null  int64
 55  t2_riftHeraldKills  51490 non-null  int64
 56  t2_ban1             51490 non-null  int64
 57  t2_ban2             51490 non-null  int64
 58  t2_ban3             51490 non-null  int64
 59  t2_ban4             51490 non-null  int64
 60  t2_ban5             51490 non-null  int64
dtypes: int64(61)
memory usage: 24.0 MB

In [8]:
loldata.describe()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,5.149000e+04,5.149000e+04,51490.000000,51490.0,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,...,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,3.306223e+09,1.502926e+12,1832.362808,9.0,1.493552,1.471295,1.450631,1.308487,0.926510,1.442804,...,5.549466,0.985084,0.414547,1.404370,0.240105,108.216294,107.910216,108.690581,108.626044,108.066576
std,2.946096e+07,1.978026e+09,512.017696,0.0,0.499963,0.520326,0.542848,0.676097,0.841424,0.569579,...,3.860989,1.256284,0.613768,1.224492,0.427151,102.551787,102.870710,102.592145,103.346952,102.756149
min,3.214824e+09,1.496892e+12,190.000000,9.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,3.292218e+09,1.502021e+12,1531.000000,9.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,38.000000,37.000000,38.000000,38.000000,38.000000
50%,3.320021e+09,1.503844e+12,1833.000000,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.000000,0.000000,0.000000,1.000000,0.000000,90.000000,90.000000,90.000000,90.000000,90.000000
75%,3.327099e+09,1.504352e+12,2148.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,9.000000,2.000000,1.000000,2.000000,0.000000,141.000000,141.000000,141.000000,141.000000,141.000000
max,3.331833e+09,1.504707e+12,4728.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,11.000000,10.000000,4.000000,6.000000,1.000000,516.000000,516.000000,516.000000,516.000000,516.000000

In [18]:
loldata.value_counts()

gameId      creationTime   gameDuration  seasonId  winner  firstBlood  firstTower  firstInhibitor  firstBaron  firstDragon  firstRiftHerald  t1_champ1id  t1_champ1_sum1  t1_champ1_sum2  t1_champ2id  t1_champ2_sum1  t1_champ2_sum2  t1_champ3id  t1_champ3_sum1  t1_champ3_sum2  t1_champ4id  t1_champ4_sum1  t1_champ4_sum2  t1_champ5id  t1_champ5_sum1  t1_champ5_sum2  t1_towerKills  t1_inhibitorKills  t1_baronKills  t1_dragonKills  t1_riftHeraldKills  t1_ban1  t1_ban2  t1_ban3  t1_ban4  t1_ban5  t2_champ1id  t2_champ1_sum1  t2_champ1_sum2  t2_champ2id  t2_champ2_sum1  t2_champ2_sum2  t2_champ3id  t2_champ3_sum1  t2_champ3_sum2  t2_champ4id  t2_champ4_sum1  t2_champ4_sum2  t2_champ5id  t2_champ5_sum1  t2_champ5_sum2  t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
3322520878  1504013620493  2407          9         2       1           1           2               2           1            0                67           7               4               35           14              11              34           4               6               68           12              4               223          4               3               2              0                  0              2               0                   9        245      40       53       114      6            12              4               201          4               3               238          4               14              64           11              4               18           7               4               11             5                  2              2               0                   55       157      141      154      122        3
3322454614  1504011343496  1745          9         1       1           1           1               1           1            1                412          4               3               11           4               11              59           14              4               222          7               4               83           4               14              11             3                  1              3               1                   79       154      122      141      16       238          14              4               64           11              4               50           4               12              267          4               3               18           4               7               1              0                  0              0               0                   81       498      245      92       7          3
3327686351  1504380431622  2661          9         2       1           2           2               2           2            0                34           12              4               57           4               11              36           12              4               67           7               4               40           3               4               1              0                  0              2               0                   412      157      107      18       122      497          4               14              41           12              4               161          7               4               498          7               4               113          4               11              10             4                  2              3               0                   105      29       8        266      31         3
3327701740  1504379388674  1611          9         2       1           2           2               0           2            2                4            4               14              98           4               12              29           7               4               59           4               11              40           4               3               0              0                  0              0               0                   114      157      117      119      7        202          4               1               63           14              4               62           4               12              421          11              4               61           4               1               11             2                  0              2               1                   412      55       18       57       31         3
3327746850  1504383601683  1396          9         1       1           1           1               0           2            0                89           4               3               99           4               21              121          4               11              50           4               12              15           7               4               8              2                  0              2               0                   25       154      114      18       58       40           4               3               85           12              4               103          14              4               67           7               4               113          4               11              0              0                  0              1               0                   122      18       238      29       8          3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ..
3331810857  1504704991063  1347          9         1       1           1           1               0           2            1                103          4               14              28           4               11              236          7               4               43           4               3               31           4               12              5              1                  0              1               1                   18       117      40       24       157      238          14              4               22           4               3               89           4               7               19           11              4               57           4               12              1              0                  0              1               0                   122      11       67       24       40         1
3331821516  1504705262649  2031          9         2       1           2           1               1           1            1                29           4               7               61           4               14              121          11              4               57           12              4               117          4               3               7              1                  1              2               1                   79       113      157      59       31       201          4               3               131          4               12              18           4               7               63           4               3               141          4               11              8              1                  0              1               0                   40       38       119      157      114        1
3331828122  1504707332198  1599          9         1       1           1           1               1           1            1                44           3               4               150          4               12              60           4               11              429          4               7               41           4               3               11             2                  1              2               1                   57       11       34       119      75       163          4               7               79           11              4               202          7               4               23           4               14              99           3               4               1              0                  0              0               0                   42       40       64       29       16         1
3331830734  1504705367156  2006          9         2       1           2           2               2           2            2                60           11              4               75           4               12              157          4               14              498          4               7               25           3               4               2              0                  0              0               0                   154      40       8        53       18       12           4               3               122          12              4               67           14              4               102          11              4               96           4               7               10             2                  1              4               1                   19       141      31       18       238        1
3214973125  1496910736385  2328          9         2       2           2           2               2           1            2                64           4               11              68           12              4               202          4               7               25           14              4               412          4               3               5              0                  0              1               0                   63       19       1        114      60       432          4               3               245          4               14              75           12              4               236          7               4               427          4               11              9              2                  1              2               1                   38       92       154      157      51         1
Name: count, Length: 51053, dtype: int64

In [26]:
loldata['gameDuration'].max()
loldata['gameDuration'].mean()

np.float64(1832.3628083122937)

In [30]:
loldata['seasonId'].value_counts()
loldata['winner'].mean()
# on voit donc que le winner "1" correspond au blue side, qui a historiquement eu un winrate entre 50 et 53%
loldata[loldata['winner'] == 1].count()

gameId          26077
creationTime    26077
gameDuration    26077
seasonId        26077
winner          26077
                ...
t2_ban1         26077
t2_ban2         26077
t2_ban3         26077
t2_ban4         26077
t2_ban5         26077
Length: 61, dtype: int64

In [31]:
26077/51490

0.5064478539522237

In [32]:
loldata.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18